# Airquality Data Analysis.

In [14]:
import pandas as pd
import numpy as np

In [15]:
air_data = pd.read_csv('Airqualtiy.csv',sep = ',',header=0,encoding = 'latin')

In [16]:
air_data.head()

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0           1   41.0    190.0   7.4    67      5    1
1           2   36.0    118.0   8.0    72      5    2
2           3   12.0    149.0  12.6    74      5    3
3           4   18.0    313.0  11.5    62      5    4
4           5    NaN      NaN  14.3    56      5    5

In [17]:
pd.data = air_data

# Fetch the observations for 9 day of June

In [18]:
air_data.query('Day == 9 and Month == 6')

    Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
39          40   71.0    291.0  13.8    90      6    9

# Find Average temperature for the month of June.

In [19]:
air_data.query('Month == 6').groupby('Month')['Temp'].agg("mean")

Month
6    79.1
Name: Temp, dtype: float64

# To which day of June has the least temperature

In [20]:
air_data.query('Month == 6').sort_values(by = 'Temp')[["Day","Month","Temp"]].head(1)

    Day  Month  Temp
48   18      6    65

# Find Maximum Ozone value for the month of May

In [21]:
print(air_data.query("Month == 5").groupby("Month")["Ozone"].agg('max'))

Month
5    115.0
Name: Ozone, dtype: float64

# Find the count of the missing values in the ozone column of the data set

In [22]:
print(air_data.Ozone.isnull().sum())

37

# Find out What is the mean of the Ozone column in this dataset

In [23]:
print(air_data.Ozone.mean())

42.12931034482759

# Find out which month has the highest temperature

In [24]:
air_data.query('Temp == Temp.max()')[["Month","Temp"]]

     Month  Temp
119      8    97

# Find out the wind value when the Ozone becomes maximum

In [25]:
air_data.query('Ozone == Ozone.max()')[['Ozone','Wind']]

     Ozone  Wind
116  168.0   3.4

# Find out the months for which the airquality observations have been carried out

In [26]:
air_data.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

# Find the Ozone and temperature values for the 1st observation of every month.

In [27]:
air_data.query('Day == 1')[["Temp","Wind","Day","Month"]]

     Temp  Wind  Day  Month
0      67   7.4    1      5
31     78   8.6    1      6
61     84   4.1    1      7
92     81   6.9    1      8
123    91   6.9    1      9

# Which day of which month corresponds to the least Ozone Value

In [28]:
air_data.query('Ozone == Ozone.min()')[["Month","Day","Ozone"]]

    Month  Day  Ozone
20      5   21    1.0

# Convert the temperature for all the observations to Centigrade scale

In [30]:
air_data["Celsius"] = (air_data.Temp-32)*(5/9)

print(air_data[['Temp',"Celsius"]].head())

   Temp    Celsius
0    67  19.444444
1    72  22.222222
2    74  23.333333
3    62  16.666667
4    56  13.333333