In [1]:
import pandas as pd
import numpy as np

In [2]:
oj_data = pd.read_csv("oj.csv")

# Find the dimensions of the oj data set

In [3]:
print(oj_data.shape)

(28947, 17)

# Find the structure of the data set

In [4]:

print(oj_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28947 entries, 0 to 28946
Data columns (total 17 columns):
store       28947 non-null int64
brand       28947 non-null object
week        28947 non-null int64
logmove     28947 non-null float64
feat        28947 non-null int64
price       28947 non-null float64
AGE60       28947 non-null float64
EDUC        28947 non-null float64
ETHNIC      28947 non-null float64
INCOME      28947 non-null float64
HHLARGE     28947 non-null float64
WORKWOM     28947 non-null float64
HVAL150     28947 non-null float64
SSTRDIST    28947 non-null float64
SSTRVOL     28947 non-null float64
CPDIST5     28947 non-null float64
CPWVOL5     28947 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 3.8+ MB
None

# Find out the column names in the data set

In [5]:
names = oj_data.columns.values
print(names)

['store' 'brand' 'week' 'logmove' 'feat' 'price' 'AGE60' 'EDUC' 'ETHNIC'
 'INCOME' 'HHLARGE' 'WORKWOM' 'HVAL150' 'SSTRDIST' 'SSTRVOL' 'CPDIST5'
 'CPWVOL5']

# Describe the data set

In [6]:
print(oj_data.describe())

              store          week       logmove          feat         price  \
count  28947.000000  28947.000000  28947.000000  28947.000000  28947.000000
mean      80.883511    100.459944      9.167864      0.237261      2.282488
std       35.576511     34.692314      1.019378      0.425411      0.648001
min        2.000000     40.000000      4.158883      0.000000      0.520000
25%       53.000000     70.000000      8.489616      0.000000      1.790000
50%       86.000000    101.000000      9.034080      0.000000      2.170000
75%      111.000000    130.000000      9.764685      0.000000      2.730000
max      137.000000    160.000000     13.482016      1.000000      3.870000

              AGE60          EDUC        ETHNIC        INCOME       HHLARGE  \
count  28947.000000  28947.000000  28947.000000  28947.000000  28947.000000
mean       0.173130      0.225220      0.155557     10.616735      0.115602
std        0.061872      0.109945      0.187581      0.282314      0.030168
min        0.058054      0.049550      0.024247      9.867083      0.013506
25%        0.122100      0.145985      0.041910     10.456079      0.097938
50%        0.170655      0.229390      0.074656     10.635326      0.111221
75%        0.213949      0.284395      0.187761     10.796960      0.135168
max        0.307398      0.528362      0.995691     11.236197      0.216354

            WORKWOM       HVAL150      SSTRDIST       SSTRVOL       CPDIST5  \
count  28947.000000  28947.000000  28947.000000  28947.000000  28947.000000
mean       0.359178      0.343766      5.097274      1.207317      2.120359
std        0.052673      0.239028      3.472386      0.526528      0.729828
min        0.244463      0.002509      0.132097      0.400000      0.772530
25%        0.312636      0.123486      2.767046      0.727273      1.626192
50%        0.355635      0.346154      4.650687      1.115385      1.963412
75%        0.402313      0.528313      6.650602      1.538462      2.533672
max        0.472308      0.916699     17.855951      2.571429      4.107902

            CPWVOL5
count  28947.000000
mean       0.438914
std        0.219248
min        0.094562
25%        0.271673
50%        0.383227
75%        0.560240
max        1.143367

# Fetch the first row 3rd column from the data set

In [7]:
print(oj_data.iloc[1,[3]])

logmove    8.72323
Name: 1, dtype: object

# Fetch the first, second and Third columns of the oj data frame

In [8]:
oj = oj_data.iloc[:,[1,2,3]]
print(oj.head(20))

        brand  week   logmove
0   tropicana    40  9.018695
1   tropicana    46  8.723231
2   tropicana    47  8.253228
3   tropicana    48  8.987197
4   tropicana    50  9.093357
5   tropicana    51  8.877382
6   tropicana    52  9.294682
7   tropicana    53  8.954674
8   tropicana    54  9.049232
9   tropicana    57  8.613230
10  tropicana    58  8.680672
11  tropicana    59  9.034080
12  tropicana    60  8.691483
13  tropicana    61  8.831712
14  tropicana    62  9.128696
15  tropicana    63  9.405907
16  tropicana    64  9.447150
17  tropicana    65  8.783856
18  tropicana    66  8.723231
19  tropicana    67  9.957976

# Fetch the first, second, eighth and the 456th rows of the 1st, third and the sixth columns of the data frame

In [9]:
print(oj_data.iloc[[1,2,8,456],[1,3,6]])

           brand   logmove     AGE60
1      tropicana  8.723231  0.232865
2      tropicana  8.253228  0.232865
8      tropicana  9.049232  0.232865
456  minute.maid  8.392990  0.117368

# Fetch the top 5 rows of the brand column

In [10]:
print(oj_data[:5][["brand"]])

       brand
0  tropicana
1  tropicana
2  tropicana
3  tropicana
4  tropicana

# Fetch top 5 rows of the brand, week and feat details

In [11]:
print(oj_data.iloc[:5][["brand","week","feat"]])

       brand  week  feat
0  tropicana    40     0
1  tropicana    46     0
2  tropicana    47     0
3  tropicana    48     0
4  tropicana    50     0

# Fetch the details of all distinct stores

In [13]:
oj_dist = oj_data.drop_duplicates('store')
print(oj_dist.head())

      store      brand  week   logmove  feat  price     AGE60      EDUC  \
0         2  tropicana    40  9.018695     0   3.87  0.232865  0.248935
330       5  tropicana    40  8.680672     0   3.66  0.117368  0.321226
678       8  tropicana    40  9.093357     0   3.19  0.252394  0.095173
1032      9  tropicana    40  8.987197     0   3.19  0.269119  0.222172
1383     12  tropicana    41  8.822322     0   3.87  0.178341  0.253413

        ETHNIC     INCOME   HHLARGE   WORKWOM   HVAL150  SSTRDIST   SSTRVOL  \
0     0.114280  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
330   0.053875  10.922371  0.103092  0.410568  0.535883  3.801998  0.681818
678   0.035243  10.597010  0.131750  0.283075  0.054227  2.636333  1.500000
1032  0.032619  10.787152  0.096830  0.358995  0.505747  1.103279  0.666667
1383  0.380698   9.996659  0.057212  0.390942  0.386628  9.198734  1.111111

       CPDIST5   CPWVOL5
0     1.927280  0.376927
330   1.600573  0.736307
678   2.905384  0.641016
1032  1.820474  0.441268
1383  0.839303  0.105999

In [15]:
oj_data.brand.head()

0    tropicana
1    tropicana
2    tropicana
3    tropicana
4    tropicana
Name: brand, dtype: object

# Fetch all the observations for Tropicana brand

In [17]:

print(oj_data[(oj_data.brand == "tropicana")].head())

   store      brand  week   logmove  feat  price     AGE60      EDUC   ETHNIC  \
0      2  tropicana    40  9.018695     0   3.87  0.232865  0.248935  0.11428
1      2  tropicana    46  8.723231     0   3.87  0.232865  0.248935  0.11428
2      2  tropicana    47  8.253228     0   3.87  0.232865  0.248935  0.11428
3      2  tropicana    48  8.987197     0   3.87  0.232865  0.248935  0.11428
4      2  tropicana    50  9.093357     0   3.87  0.232865  0.248935  0.11428

      INCOME   HHLARGE   WORKWOM   HVAL150  SSTRDIST   SSTRVOL  CPDIST5  \
0  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857  1.92728
1  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857  1.92728
2  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857  1.92728
3  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857  1.92728
4  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857  1.92728

    CPWVOL5
0  0.376927
1  0.376927
2  0.376927
3  0.376927
4  0.376927

# Fetch all the observations for Tropicana brand using query function

In [18]:
oj_data.query('brand == "tropicana"').head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

# Fetch bottom 5 observations for those who have bought Tropicana or dominics

In [20]:
oj_data[(oj_data.brand == ("dominicks")) | (oj_data.brand == ("tropicana"))].head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

# Fetch the income, brand, price observations with Tropicana brand without feature advertisement

In [21]:
oj_data[(oj_data.brand == 'tropicana')].head()

,store,brand,week,logmove,feat,price,AGE60,EDUC,ETHNIC,INCOME,HHLARGE,WORKWOM,HVAL150,SSTRDIST,SSTRVOL,CPDIST5,CPWVOL5
0,2,tropicana,40,9.018695,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
1,2,tropicana,46,8.723231,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
2,2,tropicana,47,8.253228,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
3,2,tropicana,48,8.987197,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927
4,2,tropicana,50,9.093357,0,3.87,0.232865,0.248935,0.11428,10.553205,0.103953,0.303585,0.463887,2.110122,1.142857,1.92728,0.376927

# Add a new column in the dataset: logInc which is the logarithm of the income

In [25]:
oj_data['logInc'] = np.log(oj_data.INCOME)
oj_data.logInc.head()

0    2.35643
1    2.35643
2    2.35643
3    2.35643
4    2.35643
Name: logInc, dtype: float64

# Sort the Data in the increasing order of the week

In [26]:
print(oj_data.sort_values(by='week').head(10))

       store        brand  week   logmove  feat  price     AGE60      EDUC  \
0          2    tropicana    40  9.018695     0   3.87  0.232865  0.248935
8141      59  minute.maid    40  7.655391     0   2.62  0.110819  0.233036
8025      59    tropicana    40  8.489616     0   3.19  0.110819  0.233036
26035    124  minute.maid    40  8.269757     0   3.17  0.119626  0.261876
7907      56    dominicks    40  8.565602     1   1.59  0.192889  0.237551
7789      56  minute.maid    40  7.560080     0   2.99  0.192889  0.237551
7671      56    tropicana    40  8.723231     0   3.66  0.192889  0.237551
26156    124    dominicks    40  7.624619     1   1.59  0.119626  0.261876
7550      54    dominicks    40  7.592870     1   1.59  0.090222  0.421126
7429      54  minute.maid    40  8.302018     0   2.99  0.090222  0.421126

         ETHNIC     INCOME   HHLARGE   WORKWOM   HVAL150  SSTRDIST   SSTRVOL  \
0      0.114280  10.553205  0.103953  0.303585  0.463887  2.110122  1.142857
8141   0.024247  10.715040  0.140676  0.390696  0.292652  0.217275  1.000000
8025   0.024247  10.715040  0.140676  0.390696  0.292652  0.217275  1.000000
26035  0.572356  10.258957  0.124950  0.348519  0.416316  6.328747  0.727273
7907   0.041356  10.831825  0.105928  0.362168  0.578125  4.865721  0.533333
7789   0.041356  10.831825  0.105928  0.362168  0.578125  4.865721  0.533333
7671   0.041356  10.831825  0.105928  0.362168  0.578125  4.865721  0.533333
26156  0.572356  10.258957  0.124950  0.348519  0.416316  6.328747  0.727273
7550   0.046641  10.910898  0.103522  0.436719  0.646023  4.899564  1.333333
7429   0.046641  10.910898  0.103522  0.436719  0.646023  4.899564  1.333333

        CPDIST5   CPWVOL5    logInc
0      1.927280  0.376927  2.356430
8141   3.331154  0.395539  2.371648
8025   3.331154  0.395539  2.371648
26035  1.793796  0.202169  2.328151
7907   2.998578  0.496127  2.382489
7789   2.998578  0.496127  2.382489
7671   2.998578  0.496127  2.382489
26156  1.793796  0.202169  2.328151
7550   1.963412  0.645830  2.389762
7429   1.963412  0.645830  2.389762

# Sort the data in the decreasing order of Income

In [27]:
print(oj_data.sort_values(by='INCOME').sort_index(ascending = False).head(10))

       store      brand  week    logmove  feat  price     AGE60      EDUC  \
28946    137  dominicks   160   8.859363     0   1.75  0.209602  0.528362
28945    137  dominicks   159  10.927376     0   1.49  0.209602  0.528362
28944    137  dominicks   158   9.505991     0   1.59  0.209602  0.528362
28943    137  dominicks   157   8.502689     0   1.94  0.209602  0.528362
28942    137  dominicks   156   7.987524     0   2.00  0.209602  0.528362
28941    137  dominicks   155   9.078864     0   1.31  0.209602  0.528362
28940    137  dominicks   154  10.222668     0   1.16  0.209602  0.528362
28939    137  dominicks   153   8.317766     0   2.01  0.209602  0.528362
28938    137  dominicks   152   9.447150     1   1.99  0.209602  0.528362
28937    137  dominicks   151  10.943340     1   1.49  0.209602  0.528362

        ETHNIC    INCOME   HHLARGE   WORKWOM   HVAL150  SSTRDIST   SSTRVOL  \
28946  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28945  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28944  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28943  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28942  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28941  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28940  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28939  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28938  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882
28937  0.11325  10.96649  0.092996  0.330293  0.860739  6.026484  0.705882

       CPDIST5   CPWVOL5    logInc
28946  0.77253  0.333761  2.394844
28945  0.77253  0.333761  2.394844
28944  0.77253  0.333761  2.394844
28943  0.77253  0.333761  2.394844
28942  0.77253  0.333761  2.394844
28941  0.77253  0.333761  2.394844
28940  0.77253  0.333761  2.394844
28939  0.77253  0.333761  2.394844
28938  0.77253  0.333761  2.394844
28937  0.77253  0.333761  2.394844

# Find the mean of the juice price for each brand

In [28]:
#oj_data.brand[oj_data['price']].mean()
oj_data.groupby('brand').agg({'price':['mean']})

                price
                 mean
brand
dominicks    1.735809
minute.maid  2.241162
tropicana    2.870493

# Find the average income for each brand and at each store

In [31]:
oj_data.groupby(["store","brand"]).agg({'INCOME':['mean']}).head(10)

                      INCOME
                        mean
store brand
2     dominicks    10.553205
      minute.maid  10.553205
      tropicana    10.553205
5     dominicks    10.922371
      minute.maid  10.922371
      tropicana    10.922371
8     dominicks    10.597010
      minute.maid  10.597010
      tropicana    10.597010
9     dominicks    10.787152

# Find:

In [32]:
# a. Mean of the INCOME

oj_data.INCOME.mean()

10.616734638000503

In [33]:
# std deviation of INCOME
oj_data.INCOME.std()

0.28231362150251377

In [34]:
# b.For income greater than or equal to 10.5, find the mean income
oj_data.INCOME[oj_data.INCOME >= 10.5].mean()

10.759452382031103

In [36]:
# c.For each brand having price >= 2.5 find the mean, median, sd of the log of income
oj_data[oj_data.price >= 2.5].groupby("brand")["logInc"].agg(['mean','std',"median"])

                 mean       std    median
brand
dominicks    2.348104  0.038822  2.338646
minute.maid  2.360556  0.028522  2.363903
tropicana    2.361968  0.026782  2.364181

In [37]:
oj_data.groupby(["brand","feat"]).agg({"store":np.size})

                  store
brand       feat
dominicks   0      7169
            1      2480
minute.maid 0      6865
            1      2784
tropicana   0      8045
            1      1604

# Find the Cross tabulation of brands and feature advertisement

In [38]:
print(pd.crosstab(oj_data.brand,oj_data.feat, normalize='index'))

feat                0         1
brand
dominicks    0.742979  0.257021
minute.maid  0.711473  0.288527
tropicana    0.833765  0.166235