# Store Data Analysis

In [ ]:
import pandas as pd
import numpy as np
import os

In [4]:
Store_data = pd.read_csv('Store.csv',sep = ',',header=0,encoding = 'latin')
df = Store_data

In [5]:
Store_data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2013-152156,11/9/2013,11/12/2013,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2013-138688,6/13/2013,6/17/2013,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2012-108966,10/11/2012,10/18/2012,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

# How many unique cities are the orders being delivered to

In [6]:
len(df.City.unique())

531

#  What is the total quantity sold in the East Region?

In [7]:
df[df.Region == 'East'].groupby('Region')['Quantity'].agg('count')

Region
East    2848
Name: Quantity, dtype: int64

# Find the sum of the quantity sold in the East Region

In [8]:
df[df.Region == 'East'].groupby('Region')['Quantity'].agg('sum')

Region
East    10618
Name: Quantity, dtype: int64

# In the south region sort the sales in decreasing order

In [10]:
df[df.Region == 'South'].sort_values(by = 'Sales',ascending = False).head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698,CA-2011-145317,3/18/2011,3/23/2011,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784
8488,8489,CA-2013-158841,2/2/2013,2/4/2013,Second Class,SE-20110,Sanjit Engle,Consumer,United States,Arlington,...,22204,South,TEC-MA-10001127,Technology,Machines,HP Designjet T520 Inkjet Large Format Printer ...,8749.950,5,0.0,2799.9840
683,684,US-2014-168116,11/5/2014,11/5/2014,Same Day,GT-14635,Grant Thornton,Corporate,United States,Burlington,...,27217,South,TEC-MA-10004125,Technology,Machines,Cubify CubeX 3D Printer Triple Head Print,7999.980,4,0.5,-3839.9904
509,510,CA-2012-145352,3/16/2012,3/22/2012,Standard Class,CM-12385,Christopher Martinez,Consumer,United States,Atlanta,...,30318,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.950,5,0.0,3177.4750
4297,4298,CA-2014-129021,8/24/2014,8/27/2014,Second Class,PO-18850,Patrick O'Brill,Consumer,United States,Tallahassee,...,32303,South,TEC-PH-10001459,Technology,Phones,Samsung Galaxy Mega 6.3,4367.896,13,0.2,327.5922

# Find the mean of quantity for every region

In [11]:
print(df.groupby("Region")['Quantity'].agg('mean'))

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

# Find the mean of sales for every category

In [12]:
print(df.groupby('Category')['Sales'].agg('mean'))

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

# Find the max, min, sum of sales and profit for every category

In [13]:
df.groupby('Category')['Sales','Profit'].agg(["max","min","sum"])

                     Sales                        Profit             \
                       max    min          sum       max        min
Category
Furniture         4416.174  1.892  741999.7953  1013.127 -1862.3124
Office Supplies   9892.740  0.444  719047.0320  4946.370 -3701.8928
Technology       22638.480  0.990  836154.0330  8399.976 -6599.9780


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

# Find sum of sales and max profit for every segment

In [14]:
df.groupby('Segment').agg({'Sales':np.sum,'Profit':np.max})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

# For every segment find the mean of the discount

In [15]:
df.groupby('Segment').agg({'Discount':np.mean})

             Discount
Segment
Consumer     0.158141
Corporate    0.158228
Home Office  0.147128

# For every segment find the most profitable customers

In [16]:
#df.groupby('Segment')["Customer Name"].agg({"Profit":max})

a1 = df.groupby('Segment').Profit.max()
b1 = df.Profit

df[["Segment","Customer Name","Profit"]][np.in1d(b1,a1)]

          Segment Customer Name     Profit
2623  Home Office  Tom Ashbrook  3919.9888
6826    Corporate  Tamara Chand  8399.9760
8153     Consumer  Raymond Buch  6719.9808

# What are the top 5 categories that give maximum profit?

In [17]:
df.groupby('Sub-Category')['Profit'].agg(['max']).sort_values(by= 'max',ascending = False).head()

                    max
Sub-Category
Copiers       8399.9760
Binders       4946.3700
Machines      2799.9840
Phones        1228.1787
Bookcases     1013.1270

# What is the Total Sales, Quantity, Discount, Profit across Total US.

In [18]:
df[df.Country == 'United States'].groupby('Country')['Sales','Quantity','Discount','Profit'].agg(['sum'])

                      Sales Quantity Discount       Profit
                        sum      sum      sum          sum
Country
United States  2.297201e+06    37873  1561.09  286397.0217

# How many times has it taken more than 5 days from placing an order to shipping

In [19]:

df['days'] = pd.to_datetime(df['Ship Date']) - pd.to_datetime(df['Order Date'])

def sum1(a):
    return sum(a <"5 days")

            
df.groupby('Category').agg({'days':[sum1]})

                 days
                 sum1
Category
Furniture        1288
Office Supplies  3581
Technology       1128

# Find the total number of orders in every category which has been shipped with a duration > 5 days

In [20]:
df[df.days>'5 days'].groupby('Sub-Category')["Order ID"].agg(["count"])

              count
Sub-Category
Accessories     131
Appliances       81
Art             157
Binders         291
Bookcases        34
Chairs          109
Copiers          10
Envelopes        50
Fasteners        36
Furnishings     170
Labels           75
Machines         23
Paper           239
Phones          162
Storage         161
Supplies         41
Tables           52

# Whatâ€™s the percentage of items which has been shipped within 5 days

In [21]:
x = len(df["Order ID"])

print(sum(df.days <= "5 days")*100/x)

81.76906143686212

# Whatâ€™s the percentage of items which has been shipped after 5 days

In [22]:
x = len(df["Order ID"])

sum(df.days > '5 days')*100/x

18.230938563137883